<html>
    <head>
        <title>{{ album }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" >
    </head>
    <body>
        {% if now_playing %}
        <div>
        <p>Now Playing: {{ now_playing.artist }} - {{ now_playing.album }}</p>
        <form method="post">
            <input type="submit" name="action" value="Pause" />
            <input type="submit" name="action" value="Stop" />
            <input type="submit" name="action" value="Skip" />
        </form>
        </div>
        {% endif %}
        
        <p><a href="/index">Home</a></p>
                
        <form method="post">
            <input type="submit" name="action" value="Play" />
            <input type="hidden" id="album" name="album" value="{{ album }}" />
            <input type="hidden" id="artist" name="artist" value="{{ artist }}" />
            <select id="track" name="track">
            {% for track in tracks %}
                <option value="{{ track }}">{{ track }}</option>
            {% endfor %}
            </select>
        </form>
    
    </body>
</html>
